/*#3A3838*/
/*gray*/

/*#F5F5EF*/
/*cream*/

/*#0B76BC*/
/*blue*/

/*#EB2229*/
/*red*/


body {
background-color: #F5F5EF;
padding-top: -50px;
padding-right: 100px;
padding-left: 100px;
/*cream*/
}

.redline {
color: #EB2229;
}

.fb {
height:16px;
width: 16px;
}

p  {
text-decoration: none;
padding: 10px;
color: #0B76BC;
/*red*/
font-style: normal;
font-weight: lighter;
font-family: arial;
font-size: 16px;
}

.circ {
max-height: 300px;
max-width: 300px;
padding-top: 50px;
}
/*blue*/
/*color: #0B76BC;*/

.navbar {
    /*background-color: #0B76BC;*/
    background: transparent;
    background-image: none;
    color: #F5F5EF;
     border: 0;
     z-index: -100;
}

.standings {
/*background-color: #0B76BC;*/
margin-left: 50px;
padding: 5%;
/*position: relative;*/
/*background-color: #0B76BC;*/
}



.powerrank {
/*background-color: #0B76BC;*/
/*margin-right: 5%;*/
padding: 5%;
/*background-color: #0B76BC;*/
margin-right: 50px;
/*position: relative;*/
}

.schedule {
/*background-color: #EB2229;*/
border-radius: 10px;
color: #EB2229;

}

h3 {
    font-weight: normal;
    color: #0B76BC;
}


.table-condensed {
/*background-color: #0B76BC;*/
}

.col-lg-4 {
    /*background-color: yellow;*/
    margin-top: -50px;

}

td {
color: #3A3838;
font-weight: lighter;
font-family: sans-serif;
/*cream*/
}

thead {
color: #3A3838;
/*cream*/
font-size: 18px;
font-weight: normal;
}
.table {
    background-position: center;
}

.vs {
font-weight: bolder;
    color: #0B76BC;
    /*margin-left: 5px;
    margin-right: 5px;*/


}
/*      color +/- ratings       */
.down-three {
color: #b41226;
}

.down-two {
color: #d3152d;
}

.down-one {
color: #ec4055;
}

.glyphicon-minus {
color: #3A3838;
}

.up-three {
color: #27aa3a;
}

.up-two {
color: #5dda6f;
}

.up-one {
color: #86e394;
}
.glyphicon-triangle-right {
    font-size: 10px;
}
.glyphicon-triangle-left {
    font-size: 10px;
}

.ul{
background-color: #0B76BC;
color: #0B76BC;
}

.black {
    color:black;
}


.jon {
color: green;
}

.mana {
  height:25px;
  width:25px;
}



a:link    {color:#0B76BC; background-color:transparent; text-decoration:none}
a:visited {color:#0B76BC; background-color:transparent; text-decoration:none}
a:hover   {color:#0B76BC; background-color:transparent; text-decoration:none}
a:active  {color:#0B76BC; background-color:transparent; text-decoration:none}
