body {
    background-color: white;


}
h1 {
    color: #202020;
    margin-left: 20px;
}


footer {
  background-color: white;
  height: 4px;

}


h3 {
    color: white;
}


div.classy {
  max-width: 100%;
  padding: 5px;
  background-color: #cc2c2e;
  color: white;
  
}


div.spacer {
  max-width: 100%;
  padding: 15px;
  background-color: gray;
  color: white;
}

div.blue {
  max-width: 100%;
  background-color: #0253a4;
  color: #0253a4;
}

div.red {
  max-width: 100%;
  background-color: #cc2c2e;
  color: #cc2c2e;
}


#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #525252;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
    color: white;
}

#page-content-wrapper {
  width: 100%;

  margin-left: 5%;
  margin-right: 5%;

}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 175px;
  list-style: none;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 10%;
  padding: 0;
  color: white;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}




/* unvisited link */
a:link {
    color: gray;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: gray;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #cc2c2e;
    text-decoration: none;
}

/* selected link */
a:active {
    color: gray;
    text-decoration: none;
}
