// notes //
// gradient from highest to lowest better color funstions on there possibly use rgba %'s
.full_seasons {
    align-self: center;
}


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

// .navbar-center {
//     display: inline-block;
//     float: none;
//     vertical-align: top;
// }
//
// .navbar .navbar-collapse {
//     text-align: center;
//     vertical-align: top;
// }

body { padding-top: 40px;
 }
.roman {
    color: black;
    font-size: 9px;
    font-weight: bold;
}
.win_loss {
    color: black;
    font-size: 10px;
}
.sortable {
    font-size: 5px;
}
td {
    color: black;
    font-size: 11px;
    // : 2px;
}
th {
    font-size: 11px;
    background-color: #F0F0F0;
    // padding: 1px;
}
.header_stripe {
    background-color: #cccccc;
    color: black;
}
.header_current {
    background-color: #a6a6a6;
    color: white;
}
.header_inactive {
    background-color: #404040;
    color: white;
}
.inactive {
    font-style: italic;
    color: grey;
}
.active {
    font-style: bold;
    color: black;
}
.commish {
    color: black;
}
.user {
    color: grey;
}
.first_place {
    background-color: #E0BA22;
}
.second_place {
    background-color: #AAAAAA;
}
.third_place {
    background-color: rgba(205,127,50,0.75);
}
.alltime_10k {
    color: lightblue;
    opacity: 90%;
}
.alltime_20k {
    color: lightblue;
    opacity: 20%;
}
.alltime_30k {
    color: lightblue;
    opacity: 30%;
}
.alltime_40k {
    color: lightblue;
    opacity: 40%;
}
.alltime_50k {
    color: lightblue;
    opacity: 50%;
}
.alltime_60k {
    color: lightblue;
    opacity: 60%;
}
.alltime_70k {
    color: lightblue;
    opacity: 70%;
}
.alltime_80k {
    color: lightblue;
    opacity: 80%;
}
.alltime_90k {
    color: lightblue;
    opacity: 90%;
}
.alltime_100k {
    color: lightblue;
    opacity: 100%;
}

.first_box {
    width: 20px;
    height: 20px;
}
.glyphicon-star {
    color: black;
    font-size: 0.8em;
}
.jersey {
    height: 1.5em;
    width: 1.5em;
}
.commish_icon {
    height: 1.4em;
    width: 1.4em;
}
.commish_icon_legend {
    height: 1.2em;
    width: 1.2em;
}
.medal_gold {
    height: 1.2em;
    width: 1.2em;
}
.medal_silver {
    height: 1.2em;
    width: 1.2em;
}
.medal_bronze {
    height: 1.2em;
    width: 1.2em;
}
.medal_gold_column {
    height: 1em;
    width: 1em;
}
.medal_silver_column {
    height: 1em;
    width: 1em;
}
.medal_bronze_column {
    height: 1em;
    width: 1em;
}
.icon_column_test {
    height: 0.5em;
    width: 0.5em;
}
.shorten {
    font-size: 8px;
}
.legend_column {
    margin: 15px;
}
.no_border {
    border-top: none !important;
}
.inactive_grey {
    color: grey;
}
.first_team_2008 {
    background-color: rgba(43,182,115,.1);
}
.first_team_2009 {
    background-color: rgba(43,182,115,.2);
}
.first_team_2010 {
    background-color: rgba(43,182,115,.3);
}
.first_team_2011 {
    background-color: rgba(43,182,115,.4);
}
.first_team_2012 {
    background-color: rgba(43,182,115,.5);
}
.first_team_2013 {
    background-color: rgba(43,182,115,.6);
}
.first_team_2014 {
    background-color: rgba(43,182,115,.7);
}
.first_team_2015 {
    background-color: rgba(43,182,115,.8);
}
.second_team_2008 {
    background-color: rgba(39,170,255,.1);
}
.second_team_2009 {
    background-color: rgba(39,170,255,.2);
}
.second_team_2010 {
    background-color: rgba(39,170,255,.3);
}
.second_team_2011 {
    background-color: rgba(39,170,255,.4);
}
.second_team_2012 {
    background-color: rgba(39,170,255,.5);
}
.second_team_2013 {
    background-color: rgba(39,170,255,.6);
}
.second_team_2014 {
    background-color: rgba(39,170,255,.7);
}
.second_team_2015 {
    background-color: rgba(39,170,255,.8);
}
.third_team_2008 {
    background-color: rgba(241,90,41,.1);
}
.third_team_2009 {
    background-color: rgba(241,90,41,.2);
}
.third_team_2010 {
    background-color: rgba(241,90,41,.3);
}
.third_team_2011 {
    background-color: rgba(241,90,41,.4);
}
.third_team_2012 {
    background-color: rgba(241,90,41,.5);
}
.third_team_2013 {
    background-color: rgba(241,90,41,.6);
}
.third_team_2014 {
    background-color: rgba(241,90,41,.7);
}
.third_team_2015 {
    background-color: rgba(241,90,41,.8);
}
.color_second_team {
    background-color: rgba(39,170,255, 0.5);
}
.color_first_team {
    background-color: rgba(43,182,115, 0.5);
}
.color_third_team {
    background-color: rgba(241,90,41,.5);
}
.first_team_icon {
    height: 4em;
    width: 4em;
}
.top_season_avg {
    height: 2em;
    width: 2em;
}
.team_rank_style {
    font-style: italic;
    font-weight: bold;
    color: #2B2B2B;
    background-color: #F7F7F7;
}
.team_atl {
    background-color: #80E13A3E;
    background-color: #80061922;
    background-color: #80C4D600;
}
.team_bos {
    background-color: #80BB9753;
    background-color: #80A73832;
    background-color: #80FAB383;
    background-color: #80061922;
    background-color: #80008348;
}
.team_bkn {
    background-color: #80061922;
}
.team_cha {
    background-color: #801D1160;
    background-color: #80A1A1A4;
    background-color: #80008CA8;
}
.team_chi {
    background-color: #80061922;
    background-color: #80CE1141;
}
.team_cle {
    background-color: #80FDBB30;
    background-color: #80002D62;
    background-color: #80860038;
}
.team_dal {
    background-color: #80C4CED3;
    background-color: #80061922;
    background-color: #8020385B;
    background-color: #80007DC5;
}
.team_den {
    background-color: #80FDB927;
    background-color: #800F586C;
    background-color: #804D90CD;
}
.team_det {
    background-color: #80ED174C;
    background-color: #800F586C;
    background-color: #80006BB6;
}
.team_gsw {
    background-color: #8026282A;
    background-color: #80FDB927;
    background-color: #80006BB6;
}
.team_hou {
    background-color: #80C4CED3;
    background-color: #80061922;
    background-color: #80FDB927;
    background-color: #80CE1141;
}
.team_ind {
    background-color: #8000275D;
    background-color: #80BEC0C2;
    background-color: #80FFC633;
}
.team_lac {
    background-color: #80006BB6;
    background-color: #80061922;
    background-color: #80BEC0C2;
    background-color: #80ED174C;
}
.team_lal {
    background-color: #80FDB927;
    background-color: #80061922;
    background-color: #808177B7;
    background-color: #80552582;
}
.team_mep {
    background-color: #800F586C;
    background-color: #807399C6;
    background-color: #80FDB927;
    background-color: #80BED4E9;
}
.team_mia {
    background-color: #8098002E;
    background-color: #80061922;
    background-color: #80BCBEC0;
    background-color: #80F9A01B;
}
.team_mil {
    background-color: #8000471B;
    background-color: #80061922;
    background-color: #80007DC5;
    background-color: #80F0EBD2;
}
.team_min {
    background-color: #80005083;
    background-color: #80C4CED3;
    background-color: #80FFE600;
    background-color: #80E03A3F;
    background-color: #80061922;
    background-color: #8000A94F;
}
.team_nop {
    background-color: #80002B5C;
    background-color: #80E31837;
    background-color: #80B4975A;
}
.team_nyk {
    background-color: #80F58426;
    background-color: #80BEC0C2;
    background-color: #80231F20;
    background-color: #80006BB6;
}
.team_okc {
    background-color: #80F05133;
    background-color: #80FDBB30;
    background-color: #80002D62;
    background-color: #80007DC3;
}
.team_orl {
    background-color: #80C4CED3;
    background-color: #80061922;
    background-color: #80007DC5;
}
.team_phi {
    background-color: #80002B5C;
    background-color: #80C4CED3;
    background-color: #80006BB6;
}
.team_phx {
    background-color: #801D1160;
    background-color: #8063717A;
    background-color: #80F9A01B;
    background-color: #80B95915;
    background-color: #80BEC0C2;
    background-color: #80061922;
    background-color: #80E56020;
}
.team_por {
    background-color: #80BAC3C9;
    background-color: #80061922;
    background-color: #80E03A3E;
}
.team_sac {
    background-color: #808E9090;
    background-color: #80061922;
    background-color: #80724C9F;
}
.team_sas {
    background-color: #80061922;
    background-color: #80BAC3C9;
}
.team_tor {
    background-color: #80061922;
    background-color: #80A1A1A4;
    background-color: #80B4975A;
    background-color: #80CE1141;
}
.team_uta {
    background-color: #80002B5C;
    background-color: #80F9A01B;
    background-color: #80BEC0C2;
    background-color: #8000471B;
}
.team_was {
    background-color: #80002B5C;
    background-color: #80C4CED4;
    background-color: #80E31837;
}

// gradient from highest to lowest
.total_wins_00 {
// background-color: #0080ff;
    background-color: rgba(0,128,255,.0);
}
.total_wins_05 {
    background-color: rgba(0,128,255,.05);
}
.total_wins_10 {
    background-color: rgba(0,128,255,.10)
}
.total_wins_15 {
    background-color: rgba(0,128,255,.150)
}
.total_wins_20 {
    background-color: rgba(0,128,255,.20)
}
.total_wins_25 {
    background-color: rgba(0,128,255,.25)
}
.total_wins_30 {
    background-color: rgba(0,128,255,.30)
}
.total_wins_35 {
    background-color: rgba(0,128,255,.35)
}
.total_wins_40 {
    background-color: rgba(0,128,255,.40)
}
.total_wins_45 {
    background-color: rgba(0,128,255,.45)
}
.total_wins_50 {
    background-color: rgba(0,128,255,.50)
}
.total_wins_55 {
    background-color: rgba(0,128,255,.55)
}
.total_wins_60 {
    background-color: rgba(0,128,255,.60)
}
.total_wins_65 {
    background-color: rgba(0,128,255,.65)
}
.total_wins_70 {
    background-color: rgba(0,128,255,.70)
}
.total_wins_75 {
    background-color: rgba(0,128,255,.75)
}
.total_wins_80 {
    background-color: rgba(0,128,255,.80)
}
.total_wins_85 {
    background-color: rgba(0,128,255,.85)
}
.total_wins_90 {
    background-color: rgba(0,128,255,.90)
}
.total_wins_95 {
    background-color: rgba(0,128,255,.95)
}
.total_wins_100 {
    background-color: rgba(0,128,255,1.0)
}
// gradient from highest to lowest
.total_loss_00 {
    //NONE
    background-color: rgba(255,0,31,.00)
}
.total_loss_05 {
    // background-color: #FF001F;
    background-color: rgba(255,0,31,.05)
}
.total_loss_10 {
        background-color: rgba(255,0,31,.1)
}
.total_loss_15 {
        background-color: rgba(255,0,31,.15)
}
.total_loss_20 {
        background-color:rgba(255,0,31,.2)
}
.total_loss_25 {
        background-color: rgba(255,0,31,.25)
}
.total_loss_30 {
        background-color: rgba(255,0,31,.3)
}
.total_loss_35 {
        background-color: rgba(255,0,31,.35)
}
.total_loss_40 {
        background-color:rgba(255,0,31,.4)
}
.total_loss_45 {
        background-color: rgba(255,0,31,.45)
}
.total_loss_50 {
        background-color:rgba(255,0,31,.5)
}
.total_loss_55 {
        background-color: rgba(255,0,31,.55)
}
.total_loss_60 {
        background-color:rgba(255,0,31,.6)
}
.total_loss_65 {
        background-color: rgba(255,0,31,.65)
}
.total_loss_70 {
        background-color:rgba(255,0,31,.7)
}
.total_loss_75 {
        background-color: rgba(255,0,31,.75)
}
.total_loss_80 {
        background-color:rgba(255,0,31,.8)
}
.total_loss_85 {
        background-color: rgba(255,0,31,.85)
}
.total_loss_90 {
        background-color:rgba(255,0,31,.9)
}
.total_loss_95 {
        background-color: rgba(255,0,31,.95)
}
.total_loss_100 {
        background-color: rgba(255,0,31,1)
}



.win_percentage_000 {
    background-color: rgba(0,153,153,.075)
}
.win_percentage_100 {
    background-color: rgba(0,153,153,.15)
}
.win_percentage_200 {
    background-color: rgba(0,153,153,.2)
}
.win_percentage_300 {
    background-color: rgba(0,153,153,.3)
}
.win_percentage_400 {
    background-color: rgba(0,153,153,.4)
}
.win_percentage_500 {
    background-color: rgba(0,153,153,.5)
}
.win_percentage_600 {
    background-color: rgba(0,153,153,.6)
}
.win_percentage_700 {
    background-color: rgba(0,153,153,.7)
}
.win_percentage_800 {
    background-color: rgba(0,153,153,.8)
}
.win_percentage_900 {
    background-color: rgba(0,153,153,.9)
}
.win_percentage_1000 {
    background-color: rgba(0,153,153,1)
}


li {
    font-size: .8em;
}


.blog_pod_icon {
    height: 150px;
    width: 150px; 
}
